
<div class="col-12">
    <div class="content">
        <div class="content-item">
            <h6 class="content-item__ttl">Tổ chức</h6>
            <img src="../../../assets/icons/arrow.png" alt="">
            <div class="content-item-links">
                <div class="content-item-links-pages">
                    <div class="content-item-links-pages-parent">
                        <h6 class="content-item-links-pages__ttl">Danh mục</h6>
                        <object class="content-item-links-pages-icon" data="../../../assets/icons/arrow.svg" width="40" height="40"> </object>
                    </div>    
                    <div class="content-item-links-pages-child">
                        <h6><a routerLink="/danhmucchucdanh">Danh mục chức danh</a></h6>
                        <h6><a routerLink="/login">Danh mục tham số hệ thống</a></h6>
                    </div>
                </div>
                <div class="content-item-links-pages">
                    <div class="content-item-links-pages-parent">
                        <h6 class="content-item-links-pages__ttl">Nghiệp vụ</h6>
                        <object class="content-item-links-pages-icon" data="../../../assets/icons/arrow.svg" width="40" height="40"> </object>
                    </div>
                    <div class="content-item-links-pages-child">
                        <h6><a routerLink="">Chưa có</a></h6>
                        <h6><a href="">Chưa có</a></h6>
                    </div>
                </div>             
            </div>
        </div>
        <div class="content-item">
        <h6>Tuyển dụng</h6>
        <img src="../../../assets/icons/arrow.png" alt="">
        </div>
        <div class="content-item">
        <h6>Hồ sơ</h6>
        <img src="../../../assets/icons/arrow.png" alt="">
        </div>
    </div>
</div>