*{
    margin: 0;
    box-sizing: border-box;
}
.content{
    background: rgba(19, 103, 180, 0.99);
    display: flex;
    color: #fff;
    padding: 15px;
    justify-content: space-between;
    &-right{
        h5{
            font-size: 18px;
            font-weight: bolder;
        }
    }
    &-left{
        display: flex;
        color: #FFFFFF;
        font-weight: lighter;
        font-size: 14px;
        p{
            margin: 0 10px;
            a{
                color: #fff;
            }
            &:nth-of-type(2){
                border-right: 1px solid #FFFFFF;
                padding: 0 15px 0 0;

            }
        }
    }
}